In [1]:
finan_esg = pd.read_csv("finan_esg.csv",encoding = 'CP949')
finan_esg

,Unnamed: 0,BGF리테일,BGF리테일.1,BYC,BYC.1,CJ ENM,CJ ENM.1,CJ대한통운,CJ대한통운.1,CJ씨푸드,...,Unnamed: 677,Unnamed: 678,Unnamed: 679,Unnamed: 680,현대해상,현대해상.1,현대홈쇼핑,현대홈쇼핑.1,호텔신라,호텔신라.1
0,NaN,매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),...,매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%)
1,2017.0,NaN,2.82,3.44,9.24,-4.62,9.05,15.96,3.57,1.74,...,NaN,NaN,NaN,NaN,3.13,3.23,6.32,11.73,6.51,2.19
2,2018.0,NaN,3.22,2.79,9.03,0.74,8.57,22.17,3.15,-2.32,...,NaN,NaN,NaN,NaN,1.37,3.64,4.34,11.51,13.18,3.02
3,2019.0,NaN,3.26,-6.97,10.98,19.72,8.04,19.64,2.94,-4.96,...,NaN,NaN,NaN,NaN,2.17,3.22,31.55,8.61,15.45,4.15

In [2]:
finan_esg.dropna(axis=1,inplace= True)

In [3]:
finan_esg.iloc[:,0][1]

'2.82'

In [4]:
finan_esg

,BGF리테일.1,BYC,BYC.1,CJ ENM,CJ ENM.1,CJ대한통운,CJ대한통운.1,CJ씨푸드,CJ씨푸드.1,LG헬로비전,...,현대백화점,현대백화점.1,한국조선해양,한국조선해양.1,현대해상,현대해상.1,현대홈쇼핑,현대홈쇼핑.1,호텔신라,호텔신라.1
0,영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),...,매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%)
1,2.82,3.44,9.24,-4.62,9.05,15.96,3.57,1.74,3.61,-4.12,...,6.00,21.35,-33.58,-1.40,3.13,3.23,6.32,11.73,6.51,2.19
2,3.22,2.79,9.03,0.74,8.57,22.17,3.15,-2.32,3.38,-0.13,...,3.97,20.45,-34.26,-0.15,1.37,3.64,4.34,11.51,13.18,3.02
3,3.26,-6.97,10.98,19.72,8.04,19.64,2.94,-4.96,3.10,0.35,...,6.28,17.64,-12.03,-0.40,2.17,3.22,31.55,8.61,15.45,4.15

In [5]:
len(finan_esg.columns)

621

In [6]:
finan_esg

,BGF리테일.1,BYC,BYC.1,CJ ENM,CJ ENM.1,CJ대한통운,CJ대한통운.1,CJ씨푸드,CJ씨푸드.1,LG헬로비전,...,현대백화점,현대백화점.1,한국조선해양,한국조선해양.1,현대해상,현대해상.1,현대홈쇼핑,현대홈쇼핑.1,호텔신라,호텔신라.1
0,영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),...,매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%)
1,2.82,3.44,9.24,-4.62,9.05,15.96,3.57,1.74,3.61,-4.12,...,6.00,21.35,-33.58,-1.40,3.13,3.23,6.32,11.73,6.51,2.19
2,3.22,2.79,9.03,0.74,8.57,22.17,3.15,-2.32,3.38,-0.13,...,3.97,20.45,-34.26,-0.15,1.37,3.64,4.34,11.51,13.18,3.02
3,3.26,-6.97,10.98,19.72,8.04,19.64,2.94,-4.96,3.10,0.35,...,6.28,17.64,-12.03,-0.40,2.17,3.22,31.55,8.61,15.45,4.15

In [7]:
finan_esg.iloc[:,1].drop

<bound method Series.drop of 0    매출액증가율(3년평균)(%)
1               3.44
2               2.79
3              -6.97
Name: BYC, dtype: object>

In [8]:
finan_esg.dropna()

,BGF리테일.1,BYC,BYC.1,CJ ENM,CJ ENM.1,CJ대한통운,CJ대한통운.1,CJ씨푸드,CJ씨푸드.1,LG헬로비전,...,현대백화점,현대백화점.1,한국조선해양,한국조선해양.1,현대해상,현대해상.1,현대홈쇼핑,현대홈쇼핑.1,호텔신라,호텔신라.1
0,영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),...,매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%),매출액증가율(3년평균)(%),영업이익률(3년평균)(%)
1,2.82,3.44,9.24,-4.62,9.05,15.96,3.57,1.74,3.61,-4.12,...,6.00,21.35,-33.58,-1.40,3.13,3.23,6.32,11.73,6.51,2.19
2,3.22,2.79,9.03,0.74,8.57,22.17,3.15,-2.32,3.38,-0.13,...,3.97,20.45,-34.26,-0.15,1.37,3.64,4.34,11.51,13.18,3.02
3,3.26,-6.97,10.98,19.72,8.04,19.64,2.94,-4.96,3.10,0.35,...,6.28,17.64,-12.03,-0.40,2.17,3.22,31.55,8.61,15.45,4.15

In [9]:
num_columns=[]
for k in range(len(finan_esg.columns)):
    co_minus = [float([finan_esg.iloc[:,k][i] for i in range(1,4)][j]) >0 for j in range(3)]
    if False in co_minus :
        num_columns.append(k)
num_columns

[1,
 3,
 7,
 9,
 17,
 23,
 35,
 37,
 39,
 43,
 45,
 57,
 66,
 68,
 70,
 88,
 97,
 101,
 103,
 107,
 108,
 109,
 111,
 115,
 121,
 122,
 123,
 125,
 129,
 131,
 133,
 134,
 135,
 139,
 140,
 151,
 153,
 155,
 161,
 162,
 163,
 174,
 184,
 191,
 197,
 204,
 206,
 207,
 211,
 212,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 229,
 236,
 239,
 244,
 250,
 253,
 254,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 276,
 282,
 284,
 292,
 294,
 301,
 307,
 313,
 315,
 329,
 331,
 333,
 334,
 337,
 341,
 347,
 351,
 355,
 356,
 371,
 377,
 378,
 383,
 384,
 389,
 390,
 393,
 395,
 397,
 399,
 401,
 402,
 405,
 409,
 411,
 414,
 415,
 421,
 425,
 431,
 432,
 433,
 434,
 435,
 440,
 443,
 445,
 446,
 451,
 453,
 455,
 457,
 458,
 459,
 461,
 462,
 463,
 467,
 469,
 472,
 477,
 479,
 481,
 486,
 498,
 500,
 502,
 504,
 508,
 514,
 524,
 526,
 528,
 529,
 536,
 540,
 542,
 544,
 546,
 548,
 552,
 554,
 556,
 558,
 560,
 566,
 568,
 572,
 573,
 578,
 580,
 585,
 587,
 589,
 594,
 613,
 614]

In [10]:
minus = [finan_esg.iloc[:,x].name for x in num_columns]
minus

['BYC',
 'CJ ENM',
 'CJ씨푸드',
 'LG헬로비전',
 'DRB동일',
 'HDC',
 'KTcs',
 'KTis',
 'KT서브마린',
 'LG',
 'LG상사',
 'LIG넥스원',
 'S&T모티브',
 'SBS',
 'SH에너지화학',
 '가온전선',
 '광주신세계',
 '국민은행',
 '국제약품',
 '금호타이어',
 '금호타이어.1',
 '기업은행',
 '까뮤이앤씨',
 '남해화학',
 '대구백화점',
 '대구백화점.1',
 '대구은행',
 '대림씨엔에스',
 '대신증권',
 '대우건설',
 '대우조선해양',
 '대우조선해양.1',
 '대원강업',
 '대한방직',
 '대한방직.1',
 '동성코퍼레이션',
 '동아에스티',
 '동양고속',
 '두산건설',
 '두산건설.1',
 '두산인프라코어',
 '롯데지주',
 '만호제강',
 '모토닉',
 '미창석유',
 '삼성SDI.1',
 '삼성바이오로직스.1',
 '삼성생명',
 '삼성중공업',
 '삼성중공업.1',
 '삼성카드',
 '삼양패키징',
 '삼천리',
 '삼호',
 '삼화페인트',
 '서연',
 '서연이화',
 '세진중공업',
 '신도리코',
 '신라젠.1',
 '신세계건설',
 '신풍제약',
 '신풍제지.1',
 '조흥은행',
 '쌍용양회',
 '씨에스윈드',
 '아모레퍼시픽',
 '아모레G',
 '아이마켓코리아',
 'IHQ',
 '아주캐피탈',
 '에버다임',
 'SJM홀딩스',
 '에스티팜',
 '영풍정밀',
 '예스코홀딩스',
 '오리온홀딩스',
 '웅진씽크빅',
 '유니퀘스트',
 '유수홀딩스',
 '인천도시가스',
 '인터지스',
 '일동홀딩스',
 '일동홀딩스.1',
 '제이에스코퍼레이션',
 '제일연마',
 '주성엔지니어링',
 '진양홀딩스',
 '천일고속',
 '천일고속.1',
 '코오롱인더',
 '크리스탈',
 '크리스탈.1',
 '토니모리',
 '토니모리.1',
 '펩트론',
 '펩트론.1',
 '포스코엠텍',
 '포스코케미칼',
 '풍산',
 '풍산홀딩스',
 '하림',
 '하림.1',
 '한국가스공사',
 '한국쉘석유',
 '한국전력',
 '한국종합기술.1',
 '한국철강',
 '한라홀딩스',
 '한샘',
 '한세엠케이',
 '한세엠케이.1',
 '엑스큐어',
 '엑스큐어.1',
 '한솔PNS',
 '한올바이오파마.1',
 '한전기술',
 '한화갤러리아타임월드',
 '한화갤러리아타임월드.1',
 '해태제과식품',
 '핸즈코퍼레이션',
 '현대건설',
 '현대로템',
 '현대로템.1',
 '현대모비스',
 'HMM',
 'HMM.1',
 '현대에이치씨엔',
 '현대위아',
 '현대일렉트릭.1',
 '현대상사',
 '호전실업',
 '화성산업',
 '화승알앤에이',
 '화인베스틸',
 'S-Oil',
 'SK네트웍스',
 'SK텔레콤',
 '신한지주',
 'POSCO',
 '제일은행',
 'GS건설',
 'GS홈쇼핑',
 'HSD엔진',
 'HSD엔진.1',
 'OCI',
 'SKC',
 'SK가스',
 'SK디스커버리',
 'SK이노베이션',
 '대교',
 '두산',
 '두산밥캣',
 '두산중공업',
 '롯데쇼핑',
 '롯데정밀화학',
 '부산은행',
 '빙그레',
 '삼성엔지니어링',
 '삼성엔지니어링.1',
 'LG카드',
 '한미은행',
 '하나금융지주',
 '한국항공우주',
 '한솔로지스틱스',
 '한솔홀딩스',
 '한국조선해양',
 '한국조선해양.1']

In [11]:
filter_co = finan_esg.drop(columns= minus)
filter_co.columns

Index(['BGF리테일.1', 'BYC.1', 'CJ ENM.1', 'CJ대한통운', 'CJ대한통운.1', 'CJ씨푸드.1',
       'LG헬로비전.1', 'DB손해보험', 'DB손해보험.1', 'DB하이텍',
       ...
       '현대리바트', '현대리바트.1', '현대백화점', '현대백화점.1', '현대해상', '현대해상.1', '현대홈쇼핑',
       '현대홈쇼핑.1', '호텔신라', '호텔신라.1'],
      dtype='object', length=453)

In [12]:
plus_co = []
for i in range(len(filter_co.columns)-1):
    if list(filter_co.columns)[i] in list(filter_co.columns)[i+1]:
        plus_co.append(list(filter_co.columns)[i+1])
plus_co

['CJ대한통운.1',
 'DB손해보험.1',
 'DB하이텍.1',
 'DGB금융지주.1',
 'GS.1',
 'GS글로벌.1',
 'JW생명과학.1',
 'JW중외제약.1',
 '현대증권.1',
 'KSS해운.1',
 'KTH.1',
 'LF.1',
 'LG생활건강.1',
 'LG유플러스.1',
 'LG이노텍.1',
 'LG하우시스.1',
 'LG화학.1',
 'NAVER.1',
 'NH투자증권.1',
 'NICE.1',
 'SKC 솔믹스.1',
 'PI첨단소재.1',
 'SK디앤디.1',
 'SK머티리얼즈.1',
 'SK바이오랜드.1',
 'SK증권.1',
 'SK하이닉스.1',
 'SPC삼립.1',
 '경남은행.1',
 '계룡건설.1',
 '광동제약.1',
 '광주은행.1',
 '금호석유.1',
 '나스미디어.1',
 '녹십자홀딩스.1',
 '다스코.1',
 '대상홀딩스.1',
 '대원제약.1',
 '대한제강.1',
 '대현.1',
 '더블유게임즈.1',
 '덴티움.1',
 '도화엔지니어링.1',
 '동양피스톤.1',
 '동일산업.1',
 '두올.1',
 '디와이.1',
 '디피씨.1',
 '롯데손해보험.1',
 '롯데케미칼.1',
 '롯데푸드.1',
 '롯데하이마트.1',
 '만도.1',
 '메리츠화재.1',
 '모두투어.1',
 '미래에셋대우.1',
 '미래컴퍼니.1',
 '부광약품.1',
 '비상교육.1',
 '삼성에스디에스.1',
 '선진.1',
 '셀트리온.1',
 '셀트리온헬스케어.1',
 '신세계.1',
 '신세계 I&C.1',
 '신세계인터내셔날.1',
 '신세계푸드.1',
 '실리콘웍스.1',
 '한국아트라스비엑스.1',
 '안랩.1',
 '에스에프에이.1',
 '에스원.1',
 '엔씨소프트.1',
 '엔에스쇼핑.1',
 'NHN.1',
 '오뚜기.1',
 '오렌지라이프.1',
 '오스템임플란트.1',
 '와이지-원.1',
 '코웨이.1',
 '유니켐.1',
 '유유제약.1',
 '유한양행.1',
 '율촌화학.1',
 '이노션.1',
 '이마트.1',
 '이연제약.1',
 '일신방직.1',
 '제일기획.1',
 '제주은행.1',
 '제주항공.1',
 '지투알.1',
 '진에어.1',
 '카카오.1',
 'KT.1',
 '스카이라이프.1',
 '코리안리.1',
 '코스맥스비티아이.1',
 '코스모신소재.1',
 '코오롱글로벌.1',
 '코오롱플라스틱.1',
 '콜마비앤에이치.1',
 '클리오.1',
 '태영건설.1',
 '팜스코.1',
 '팬오션.1',
 '포스코강판.1',
 '하림지주.1',
 '한국금융지주.1',
 '한국콜마홀딩스.1',
 '한독.1',
 '한미글로벌.1',
 '한섬.1',
 '한세실업.1',
 '한온시스템.1',
 '한전KPS.1',
 '한화손해보험.1',
 '한화솔루션.1',
 '현대엘리베이.1',
 '현대제철.1',
 '현대차증권.1',
 '화승인더.1',
 '환인제약.1',
 '휴니드.1',
 '휴온스글로벌.1',
 'BNK금융지주.1',
 'KB금융.1',
 'KT&G.1',
 '포스코인터내셔널.1',
 '풀무원.1',
 'CJ.1',
 'CJ CGV.1',
 'CJ제일제당.1',
 'CJ프레시웨이.1',
 'JB금융지주.1',
 'KB손해보험.1',
 'LS ELECTRIC.1',
 'SK.1',
 '동아쏘시오홀딩스.1',
 '메리츠금융지주.1',
 '메리츠증권.1',
 '삼성물산.1',
 '삼성전기.1',
 '삼성화재.1',
 '전북은행.1',
 '한솔테크닉스.1',
 '한솔홈데코.1',
 '한화.1',
 '한화에어로스페이스.1',
 '해성디에스.1',
 '현대그린푸드.1',
 '현대글로비스.1',
 '현대리바트.1',
 '현대백화점.1',
 '현대해상.1',
 '현대홈쇼핑.1',
 '호텔신라.1']

In [13]:
plus_co

['CJ대한통운.1',
 'DB손해보험.1',
 'DB하이텍.1',
 'DGB금융지주.1',
 'GS.1',
 'GS글로벌.1',
 'JW생명과학.1',
 'JW중외제약.1',
 '현대증권.1',
 'KSS해운.1',
 'KTH.1',
 'LF.1',
 'LG생활건강.1',
 'LG유플러스.1',
 'LG이노텍.1',
 'LG하우시스.1',
 'LG화학.1',
 'NAVER.1',
 'NH투자증권.1',
 'NICE.1',
 'SKC 솔믹스.1',
 'PI첨단소재.1',
 'SK디앤디.1',
 'SK머티리얼즈.1',
 'SK바이오랜드.1',
 'SK증권.1',
 'SK하이닉스.1',
 'SPC삼립.1',
 '경남은행.1',
 '계룡건설.1',
 '광동제약.1',
 '광주은행.1',
 '금호석유.1',
 '나스미디어.1',
 '녹십자홀딩스.1',
 '다스코.1',
 '대상홀딩스.1',
 '대원제약.1',
 '대한제강.1',
 '대현.1',
 '더블유게임즈.1',
 '덴티움.1',
 '도화엔지니어링.1',
 '동양피스톤.1',
 '동일산업.1',
 '두올.1',
 '디와이.1',
 '디피씨.1',
 '롯데손해보험.1',
 '롯데케미칼.1',
 '롯데푸드.1',
 '롯데하이마트.1',
 '만도.1',
 '메리츠화재.1',
 '모두투어.1',
 '미래에셋대우.1',
 '미래컴퍼니.1',
 '부광약품.1',
 '비상교육.1',
 '삼성에스디에스.1',
 '선진.1',
 '셀트리온.1',
 '셀트리온헬스케어.1',
 '신세계.1',
 '신세계 I&C.1',
 '신세계인터내셔날.1',
 '신세계푸드.1',
 '실리콘웍스.1',
 '한국아트라스비엑스.1',
 '안랩.1',
 '에스에프에이.1',
 '에스원.1',
 '엔씨소프트.1',
 '엔에스쇼핑.1',
 'NHN.1',
 '오뚜기.1',
 '오렌지라이프.1',
 '오스템임플란트.1',
 '와이지-원.1',
 '코웨이.1',
 '유니켐.1',
 '유유제약.1',
 '유한양행.1',
 '율촌화학.1',
 '이노션.1',
 '이마트.1',
 '이연제약.1',
 '일신방직.1',
 '제일기획.1',
 '제주은행.1',
 '제주항공.1',
 '지투알.1',
 '진에어.1',
 '카카오.1',
 'KT.1',
 '스카이라이프.1',
 '코리안리.1',
 '코스맥스비티아이.1',
 '코스모신소재.1',
 '코오롱글로벌.1',
 '코오롱플라스틱.1',
 '콜마비앤에이치.1',
 '클리오.1',
 '태영건설.1',
 '팜스코.1',
 '팬오션.1',
 '포스코강판.1',
 '하림지주.1',
 '한국금융지주.1',
 '한국콜마홀딩스.1',
 '한독.1',
 '한미글로벌.1',
 '한섬.1',
 '한세실업.1',
 '한온시스템.1',
 '한전KPS.1',
 '한화손해보험.1',
 '한화솔루션.1',
 '현대엘리베이.1',
 '현대제철.1',
 '현대차증권.1',
 '화승인더.1',
 '환인제약.1',
 '휴니드.1',
 '휴온스글로벌.1',
 'BNK금융지주.1',
 'KB금융.1',
 'KT&G.1',
 '포스코인터내셔널.1',
 '풀무원.1',
 'CJ.1',
 'CJ CGV.1',
 'CJ제일제당.1',
 'CJ프레시웨이.1',
 'JB금융지주.1',
 'KB손해보험.1',
 'LS ELECTRIC.1',
 'SK.1',
 '동아쏘시오홀딩스.1',
 '메리츠금융지주.1',
 '메리츠증권.1',
 '삼성물산.1',
 '삼성전기.1',
 '삼성화재.1',
 '전북은행.1',
 '한솔테크닉스.1',
 '한솔홈데코.1',
 '한화.1',
 '한화에어로스페이스.1',
 '해성디에스.1',
 '현대그린푸드.1',
 '현대글로비스.1',
 '현대리바트.1',
 '현대백화점.1',
 '현대해상.1',
 '현대홈쇼핑.1',
 '호텔신라.1']

In [14]:
new_plus = [plus_co[k].replace(".1","") for k in range(len(plus_co))]
new_plus

['CJ대한통운',
 'DB손해보험',
 'DB하이텍',
 'DGB금융지주',
 'GS',
 'GS글로벌',
 'JW생명과학',
 'JW중외제약',
 '현대증권',
 'KSS해운',
 'KTH',
 'LF',
 'LG생활건강',
 'LG유플러스',
 'LG이노텍',
 'LG하우시스',
 'LG화학',
 'NAVER',
 'NH투자증권',
 'NICE',
 'SKC 솔믹스',
 'PI첨단소재',
 'SK디앤디',
 'SK머티리얼즈',
 'SK바이오랜드',
 'SK증권',
 'SK하이닉스',
 'SPC삼립',
 '경남은행',
 '계룡건설',
 '광동제약',
 '광주은행',
 '금호석유',
 '나스미디어',
 '녹십자홀딩스',
 '다스코',
 '대상홀딩스',
 '대원제약',
 '대한제강',
 '대현',
 '더블유게임즈',
 '덴티움',
 '도화엔지니어링',
 '동양피스톤',
 '동일산업',
 '두올',
 '디와이',
 '디피씨',
 '롯데손해보험',
 '롯데케미칼',
 '롯데푸드',
 '롯데하이마트',
 '만도',
 '메리츠화재',
 '모두투어',
 '미래에셋대우',
 '미래컴퍼니',
 '부광약품',
 '비상교육',
 '삼성에스디에스',
 '선진',
 '셀트리온',
 '셀트리온헬스케어',
 '신세계',
 '신세계 I&C',
 '신세계인터내셔날',
 '신세계푸드',
 '실리콘웍스',
 '한국아트라스비엑스',
 '안랩',
 '에스에프에이',
 '에스원',
 '엔씨소프트',
 '엔에스쇼핑',
 'NHN',
 '오뚜기',
 '오렌지라이프',
 '오스템임플란트',
 '와이지-원',
 '코웨이',
 '유니켐',
 '유유제약',
 '유한양행',
 '율촌화학',
 '이노션',
 '이마트',
 '이연제약',
 '일신방직',
 '제일기획',
 '제주은행',
 '제주항공',
 '지투알',
 '진에어',
 '카카오',
 'KT',
 '스카이라이프',
 '코리안리',
 '코스맥스비티아이',
 '코스모신소재',
 '코오롱글로벌',
 '코오롱플라스틱',
 '콜마비앤에이치',
 '클리오',
 '태영건설',
 '팜스코',
 '팬오션',
 '포스코강판',
 '하림지주',
 '한국금융지주',
 '한국콜마홀딩스',
 '한독',
 '한미글로벌',
 '한섬',
 '한세실업',
 '한온시스템',
 '한전KPS',
 '한화손해보험',
 '한화솔루션',
 '현대엘리베이',
 '현대제철',
 '현대차증권',
 '화승인더',
 '환인제약',
 '휴니드',
 '휴온스글로벌',
 'BNK금융지주',
 'KB금융',
 'KT&G',
 '포스코인터내셔널',
 '풀무원',
 'CJ',
 'CJ CGV',
 'CJ제일제당',
 'CJ프레시웨이',
 'JB금융지주',
 'KB손해보험',
 'LS ELECTRIC',
 'SK',
 '동아쏘시오홀딩스',
 '메리츠금융지주',
 '메리츠증권',
 '삼성물산',
 '삼성전기',
 '삼성화재',
 '전북은행',
 '한솔테크닉스',
 '한솔홈데코',
 '한화',
 '한화에어로스페이스',
 '해성디에스',
 '현대그린푸드',
 '현대글로비스',
 '현대리바트',
 '현대백화점',
 '현대해상',
 '현대홈쇼핑',
 '호텔신라']

In [16]:
df = pd.DataFrame(new_plus)
df.to_csv('filter_co.csv')